<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Contact</title>
  <link rel="stylesheet" href="../bootstrap.css">
  <link rel="stylesheet" href="../cuisinique.css">
</head>
<body>
  <h1>Cuisinique</h1>
  <nav class="sticky">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="courses.html">Courses</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
  <p></p>
  <h2>Reach out to us!</h2>
  <img src="../contact.jpg" alt="Typewriter contact" width="500" height="600">
  <p></p>
  <article>
    <h3>Get in Touch</h3>
    <p>Have a question, comment, or just want to say hello? We'd love to hear from you! Use the form below to send us a message, and we'll get back to you as soon as possible.
      Alternatively, you can reach us via email or phone using the contact information provided.</p>
    </article>
    <form action="/action_page.php">
      <label for="email">Enter your email if you're interested to learn more:</label>
      <input type="email" id="email" name="email">
      <input type="submit">
      <p>We'll get back to you soon!</p>
    </form>
    <article>
      <h4>Our Location</h4>
      <ul>
        <li>Cuisinique</li>
        <li>123 Main Street</li>
        <li>Cityville, State 12345</li>
        <li>United States</li>
      </ul>
    </article>
    <article>
      <h4>Connect With Us</h4>
      <p>Stay up-to-date with the latest news, recipes, and cooking tips by following us on social media.
        Connect with us on Facebook, Instagram, and Twitter to join our culinary community and share your kitchen adventures with us!</p>
      </article>
      <article>
        <h4>Business Hours</h4>
        <ul>
          <li>Monday - Friday: 9:00 AM - 6:00 PM
          </li>
          <li>123 Main Street</li>
          <li>Saturday: 10:00 AM - 4:00 PM</li>
          <li>Sunday: Closed</li>
        </ul>
      </article>
      <article>
        <h4>We Can't Wait to Hear From You!</h4>
        <p>Whether you have a question about our courses, need assistance with a recipe, or just want to chat about food, we're here to help.
          Reach out to us today and let's start a conversation!</p>
        </article>

      </body>
      </html>
