<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Courses</title>
</head>
<body>
  <h1>Cuisinique</h1>
  <nav>
    <hr>
    <ul>
      <li class="displayHorizontal"><a href="#Home">Home</a></li>
      <li class="displayHorizontal"><a href="#Courses">Courses</a></li>
      <li class="displayHorizontal"><a href="#Contact">Contact</a></li>
    </ul>
    <hr>
  </nav>
  <form class="contact-form" action="/" method="post">
    <input type="email" name="email" required>
    <input class="button" type="submit" value="submit">
  </form>
</body>
</html>
