<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="../bootstrap.css">
  <link rel="stylesheet" href="../cuisinique.css">
</head>
<body>
  <h1>Cuisinique</h1>
  <nav>
    <hr>
    <ul>
      <li class="displayHorizontal"><a href="#Home">Home</a></li>
      <li class="displayHorizontal"><a href="#Courses">Courses</a></li>
      <li class="displayHorizontal"><a href="#Contact">Contact</a></li>
    </ul>
    <hr>
  </nav>
  <h2>Welcome to Cuisinique!</h2>
  <p>Indulge your taste buds with our curated collection of mouthwatering recipes from around the globe. Whether you're a seasoned chef or a kitchen novice, there's something here to tantalize your senses and ignite your culinary passion.</p>
  <img src="../pot.jpg" alt="Kitchen pooot" width="500" height="600">
  <h2>something really random</h2>
  <p>Please check out all the cool new courses by our innovative and creative chefs.</p>
  <p>If you want to see a new course, click the courses page and explore.</p>
  <p>When you see a course you like you can contact us to join! Soon you'll be cooking in your own home.</p>
</body>
</html>
